<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CLARKE</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<H1>CLARKE</H1>
		<img src="/img/clarke.jpg" alt="Foto Clarke">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="/babbage">BABBAGE</a></li>
			<li><a href="/bernes-lee">BERNES-LEE</a></li>
			<li><a href="/clarke">CLARKE</a></li>
			<li><a href="/hamilton">HAMILTON</a></li>
            <li><a href="/hopper">HOPPER</a></li>
			<li><a href="/lovelance">LOVELANCE</a></li>
            <li><a href="/turing">TURING</a></li>
		</ul>
</body>
</html>
